version: '3.7'
services:
  db:
    image: mysql:latest
    container_name: mysql_db
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 'mysql_password'
      MYSQL_DATABASE: 'BankDB'
    volumes:
      - ./mysql-init:/docker-entrypoint-initdb.d
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.2
    container_name: keycloak
    ports:
      - "8090:8080"
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    command: start-dev
